:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 88%, 0 100%);
    
}
.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo-top img{
    width: 200px;
}
.logo-top{
    padding-top: 25px;
}
/* .left a:hover{
    color: var(--primary);
} */
.right{
    margin-top: 20px;
    margin-right: 2vh;
}
.right{

    margin-top: 20px;
    padding: 10px 20px;
  
}
.hero{
  
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.hero .left img{
    width: 400px;
}
/* hover navbar */
.nav ul li {
    display: inline-flex;
    justify-content: space-between;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: var(--pure);
    font-size: 19px;
    display: block;
    padding: 10px 15px;
    position: relative;
    font-family: monospace;
  }
  .left li a:hover{
      color: var(--primary);
      transition: 1s;
      transform: scale(1.2);
  }
  .right ul li a:hover{
      color: var(--primary);
  }
  
  .left li a {
      text-decoration: none;
      color: var(--pure);
      font-size: 19px;
      display: block;
      padding: 10px 15px;
      position: relative;
      font-family: monospace;
      margin-top: 15px;
    }
    .left li{
        list-style: none;
    }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
  }
  
  ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
  }
  
  ul li a:hover:before,
  ul li a:hover:after {
    transform: scaleX(1);
  }
/* hover navbar */
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: -2rem;
}
.hero .right h1{
    
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);

}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;

}
.hero .right{
    margin-top: -3rem;
}
section{
    padding: 6rem 0;
}
section.about.about-me-img{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);

}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom:2rem ;
    
}
section.about .social{
    display: flex;
}
section.about .social a{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius:50% ;
    margin-right: 0.6rem;
    transition:all .3s ease ;


}
section.about .social a:hover{
    background: var(--ternary);
    animation: bounce  2s infinite;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--pure);
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;

}
.section-heading span{
    color: var(--primary );
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 8rem;
    text-align: center;

}
section.services {
    background: var(--light);
    
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap:6rem;
    
    
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    border-radius: 5px;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);

}
section.services .card-wrapper .card  h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
    cursor: pointer;
    transition: all 2.8 ease;
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card :hover p{
    color: var(--pure);
    cursor: pointer;
    transition: all 2.8 ease;
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(compete.jpg);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 81%, 0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;

}
section.work{
    background: var(--light);

}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 258px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(61,287,211,8.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all 1s ease;

}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.work .card-wrapper .card:hover .overlay{
  opacity: 1;
}
section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 91%, 0 100%);
     padding-bottom: 12rem;
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    overflow: hidden;
}
section.blog .card-wrapper .card{
    background: var(--pure);
    border-radius: 10px;
   

}
section.blog .card-wrapper .card .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover{
  color: var(--primary);
}
section.blog .card-wrapper .card .card-content span{
    color:var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 0.8rem;
}
.cards{
margin: auto 2rem;
}
.img-wrapper img{
    width: 100%;

}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;

}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;


}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
footer .footer-socials a{
  margin-right: 1rem;

}
footer .copyright{
    color: var(--ternary);
}
footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}
footer .footer-socials img{
    width: 25px;
    background: var(--ternary);
    filter: invert(100%);
    border-radius: 50%;
    padding: 5px 5px;
    transition: all 0.8s ease;
}
footer .footer-socials img:hover{
   background-color: var(--pure);
   cursor: pointer;
   animation: bounce  2s infinite;
   
}
.to-top{

    position: fixed;
    right: 0px;
    bottom: 4px;
    z-index: 999;
    display: none;
    transition: 8s;
    animation: bounce 1s infinite;
    /* box-shadow: 5px 5px 15px 15px #ffffff; */
    /* background-color: #db5252; */
    font-size: 5px;
    border-radius: 35px;
  }
.mytop{
  padding: 7px 15px;
  color: #ffffff;
 
}
.to-top:hover{
  animation: pulse 1.5s infinite;
  cursor: pointer;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
     -webkit-transform: translateY(0);
     -ms-transform:     translateY(0);
     transform:         translateY(0)
    }
    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform:     translateY(-20px);
        transform:         translateY(-20px)
       }
    40% {
     -webkit-transform: translateY(-25px);
     -ms-transform:     translateY(-25px);
     transform:         translateY(-25px)
    }
    50% {
     -webkit-transform: translateY(-20px);
     -ms-transform:     translateY(-20px);
     transform:         translateY(-20px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
       }
   }